.search{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;  
}

.button{
   background-color: #ff7d04; 
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
}

.button:hover{ 
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: #ffd104
  }